[Unit]
Description=HomeAssistant Alarm bridge for wired sensors/actuators
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/root/ha-alarm-raspy2mqtt-venv/bin/python3 /root/ha-alarm-raspy2mqtt/raspy2mqtt/raspy2mqtt.py -c /etc/ha-alarm-raspy2mqtt.yaml

# attempt to avoid warning at startup:
Environment="GPIOZERO_PIN_FACTORY=pigpio"

# PYTHONUNBUFFERED is important to ensure sdtout is flushed timely so "journalctl" shows logs of this service unit:
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=5s
 
[Install]
WantedBy=multi-user.target
