[Unit]
Description=HomeAssistant Alarm bridge for wired sensors/actuators
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple

# assume that the 'make raspbian_install' command was used and thus that there is a venv
# containing the ha-alarm-raspy2mqtt software installed in the /root home:
ExecStart=/root/ha-alarm-raspy2mqtt-venv/bin/raspy2mqtt -c /etc/ha-alarm-raspy2mqtt.yaml

# the following env variable is important; lack of that will result in 
#  RuntimeError: Failed to add edge detection
Environment="GPIOZERO_PIN_FACTORY=pigpio"

# PYTHONUNBUFFERED is important to ensure sdtout is flushed timely so "journalctl" shows logs of this service unit:
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=5s
 
[Install]
WantedBy=multi-user.target
